version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "07:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "chore"
      include: "scope"
    labels: ["dependencies", "ci"]

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
      time: "07:10"
      timezone: "Europe/Berlin"
    labels: ["dependencies", "docker"]
    commit-message:
      prefix: "chore"
      include: "scope"
    open-pull-requests-limit: 5
