# Common Helm ignores
.git/
.github/
.gitignore
.vscode/
.idea/
.DS_Store
*.swp
charts/
Chart.lock
Makefile
README.md
LICENSE
*.png
release-please-config.json
.release-please-manifest.json
CHANGELOG.md
